#cuerpoP{
    .tituloP{
        @extend .titulo;
        h2{
            @extend .subtitulo;
        }
    }
    h3{
        @extend .sub-subtitulo;
        @include borde-luminoso();
        padding: 5px;
        background-color: $color2;
        color: $color1;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin: 10px 0.5rem 10px 2.5rem;
        div{
            background-color: $color1;
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 0px;
            margin: 10px 5px;
            img{
                max-width: 6cm;
                max-height: 6cm;
                margin: 1px;
                @media (min-width:map-get($vista, tablet)) {
                    max-width: 7cm;
                    max-height: 7cm;          
                }                
            }
            figcaption{
                a{
                    display: flex;
                    flex-direction: column;
                    text-decoration: none;
                    font-family: $tipografia-principal;
                    letter-spacing: 1px;
                    color: $color3;
                }
                p{
                    color: $color2;
                }
                button{
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    border: solid 2px $color1;
                    background-color: $color2;
                    width: min-content;
                    img{
                        width: 20px;
                        height: 20px;
                    }
                }
            }
            transition: all 2s ease-out;
            &:hover{
                transform: scale(1.3, 1.3);
                background-color: $color2;
                border-bottom-left-radius: 0rem;
                border-bottom-right-radius: 0rem;
                p{
                    color: $color1;
                }
            }
        }
    }
}