/*h1*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/*h2 y h3*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
/*p*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');
/*tienda*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Monoton&family=Montserrat:wght@700&family=Roboto&display=swap');


$tipografia-principal: 'Bebas Neue', cursive;
$tipografia-tienda: 'Bungee Shade', cursive;
$parrafo: 'Roboto', sans-serif;
$subtitulos: 'Montserrat', sans-serif;